<div>
  <button routerLink="/manager/categories/create" class="" >Add</button>
</div>

<table class="table-auto">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of categories">
    <td>{{item?.id}}</td>
    <td>{{item?.name}}</td>

    <td>
      <button class="bg-green-500-500 ml-20 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [routerLink]="['/manager/categories/edit', item.id]" >Edit</button>
      <button class="bg-green-500-500 ml-20 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="deleteItem(item.id)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
