
<div class="flex mt-10 mb-14">
  <img class="m-auto bg-pic" src="assets/bg-picture.jpg" alt="" />
</div>

<!--Product Items-->
<section class="section flex mb-10">
  <div class="grid grid-cols-3 mx-auto gap-10">
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    <!--<div
      class="container w-64 h-72 border-2 border-solid rounded border-gray-400"
    >
      <img
        class="w-44 h-44 rounded mb-5"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeLae7ebXhqsA7vzkmguB7-_C6TU3TH7X5N0XTkaUHKWAzIFPuknxQxv55jOJoGyd1BVM&usqp=CAU"
      />
      <p class="text-blue-600 text-xl text-center">Price: $50</p>
      <button
        class="bg-blue-500 ml-20 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Add to bag
      </button>
    </div>

    <div
      class="container w-64 h-72 border-2 border-solid rounded border-gray-400"
    >
      <img
        class="w-44 h-44 rounded mb-5"
        src="https://m.media-amazon.com/images/I/71KDIZLabxL._UL1500_.jpg"
      />
      <p class="text-blue-600 text-xl text-center">Price: $95</p>
      <button
        class="bg-blue-500 ml-20 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Add to bag
      </button>
    </div>

    <div
      class="container w-64 h-72 border-2 border-solid rounded border-gray-400"
    >
      <img
        class="w-64 h-44 rounded mb-5"
        src="https://www.famousfootwear.com/blob/product-images/20000/39/31/0/39310_pair_medium.jpg"
      />
      <p class="text-blue-600 text-xl text-center">Price: $95</p>
      <button
        class="ml-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Add to bag
      </button>
    </div>

    <div
      class="container w-64 h-72 border-2 border-solid rounded border-gray-400"
    >
      <img
        class="w-44 h-44 rounded mb-5"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS45e5MooTsCEWUJ8QGtuzDW201JOFG0nfiQOr4RetEb11elSw4fa96C-1Mzrzl-5kCoVM&usqp=CAU"
      />
      <p class="text-blue-600 text-xl text-center">Price: $85</p>
      <button
        class="bg-blue-500 hover:bg-blue-700 ml-20 text-white font-bold py-2 px-4 rounded"
      >
        Add to bag
      </button>
    </div>

    <div
      class="container w-64 h-72 border-2 border-solid rounded border-gray-400"
    >
      <img
        class="w-62 h-44 rounded mb-5"
        src="https://cld.accentuate.io/7550784209053/1662749657650/Lima_Fawn_3-Quarter_Angle_Float.png?v=1670447919598&options=w1000"
      />
      <p class="text-blue-600 text-xl text-center">Price: $70</p>
      <button
        class="bg-blue-500 hover:bg-blue-700 ml-20 text-white font-bold py-2 px-4 rounded"
      >
        Add to bag
      </button>
    </div>

    <div
      class="container w-64 h-72 border-2 border-solid rounded border-gray-400"
    >
      <img
        class="w-52 h-32 rounded mt-16 mb-5"
        src="https://www.famousfootwear.com/blob/product-images/20000/96/02/2/96022_pair_medium.jpg"
      />
      <p class="text-blue-600 text-xl text-center">Price: $75</p>
      <button
        class="bg-blue-500 hover:bg-blue-700 ml-20 text-white font-bold py-2 px-4 rounded"
      >
        Add to bag
      </button>
    </div>-->
  </div>
</section>
