<div
  *ngIf="product"
  [routerLink]="['/products', product.id]"
  class="container w-auto border-2 border-solid rounded border-gray-400"
>
  <img class="w-54 h-44 rounded mb-5 mx-auto" [src]="product.image" alt="" />
  <p class="text-blue-600 text-xl text-center pb-3">{{ product.name }}</p>
  <p class="text-blue-600 text-xl text-center pb-3">
    {{ product.price | currency : "USD" : true }}
  </p>
  <button
    *appAuthAccess
    class="bg-blue-500 ml-20 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="addToCart($event)"
  >
    Add to bag
  </button>
</div>

<!-- class="container w-64 h-72 border-2 border-solid rounded border-gray-400" -->
